<a href="https://colab.research.google.com/github/PlacementGuide1/PythonCourse/blob/main/Lecture7_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

>[A list is a sequence](#scrollTo=YDfGccPxmr2a)

>[Nested List](#scrollTo=7IZoeHcVmwu6)

>[Lists are mutable](#scrollTo=2wnabyUbpI-Q)

>[Traversing a list](#scrollTo=3y1LTzM3wCCi)

>[List Operation](#scrollTo=8xgxUZWawwU1)

>>[addition operations](#scrollTo=ZwVD5Ep6yjga)

>>[multiplication opration](#scrollTo=raKj5zxMzH4M)

>[List slices](#scrollTo=wq89pXNK0RWd)

>[List methods](#scrollTo=h_rn8Te-3AP2)

>>[Add elements](#scrollTo=rxnka2S7pKlZ)

>>[Deleting elements](#scrollTo=Jy5KghLr3rnF)

>>[Find element](#scrollTo=O81EkHYZrMoY)

>>[Comprehension](#scrollTo=XBQVduhoveeN)

>[Lists and functions](#scrollTo=DnEfSSJvIwzQ)

>[Lists and strings](#scrollTo=1c_MO5UaHRNw)

>[Parsing lines](#scrollTo=CJbqMmGKJ5Vw)

>[Objects and values](#scrollTo=k8_RRUDDfI45)

>[Aliasing](#scrollTo=pKjFy_zmf5eL)

>[List arguments](#scrollTo=KHciCnHuhP-o)

#A list is a sequence


Like a string, a list is a sequence of values. In a string, the values are characters;
in a list, they can be any type. The values in list are called elements or sometimes
items.
There are several ways to create a new list; the simplest is to enclose the elements
in square brackets (“[" and “]”):

In [ ]:
list_of_int = [10, 20, 30, 40]
list_of_string = ['crunchy frog', 'ram bladder', 'lark vomit']

print(list_of_int)
print(list_of_string)

[10, 20, 30, 40]
['crunchy frog', 'ram bladder', 'lark vomit']

The first example is a list of four integers. The second is a list of three strings.
The elements of a list don’t have to be the same type. The following list contains

1. a string
1. a float
1. an integer
1. another list

In [ ]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [17, 123]
empty = []
print(cheeses, numbers, empty)

['Cheddar', 'Edam', 'Gouda'] [17, 123] []

#Nested List

A list within another list is nested.
A list that contains no elements is called an empty list; you can create one with
empty brackets, [].
As you might expect, you can assign list values to variables:

In [ ]:
def parseList(list) :
  for data in list:
    print(type(data))
    if(type(data) == type()):
      parseList(data)
    else:
      print(data)

list_of_list = ['spam', 2.0, 5, [10, 20, [1,2,3]]]

parseList(list_of_list)

<class 'str'>

TypeError: ignored

#Lists are mutable

The syntax for accessing the elements of a list is the same as for accessing the
characters of a string: the bracket operator. The expression inside the brackets
specifies the index. Remember that the indices start at 0:

Unlike strings, lists are mutable because you can change the order of items in a
list or reassign an item in a list. When the bracket operator appears on the left
side of an assignment, it identifies the element of the list that will be assigned.

In [ ]:
print(cheeses[0])

numbers = [17, 123]
numbers[1] = 5
print(numbers)

Cheddar
[17, 5]

The one-th element of numbers, which used to be 123, is now 5.
You can think of a list as a relationship between indices and elements.
This relationship is called a mapping; each index “maps to” one of the elements.
List indices work the same way as string indices:

>• Any integer expression can be used as an index.

>• If you try to read or write an element that does not exist, you get an
IndexError.

>• If an index has a negative value, it counts backward from the end of the list.

>• The in operator also works on lists.

In [ ]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
'Edam' in cheeses

'Brie' in cheeses

False

#Traversing a list

The most common way to traverse the elements of a list is with a for loop. The
syntax is the same as for strings:

In [ ]:
#using while loop
cheeses = ['Cheddar', 'Edam', 'Gouda']

start_index =0;
end_index = len(cheeses) - 1

while start_index <= end_index:
  print(cheeses[start_index])
  start_index+=1

Cheddar
Edam
Gouda

In [ ]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
for cheese in cheeses:
    print(cheese)

Cheddar
Edam
Gouda

#List Operation

This works well if you only need to read the elements of the list. But if you want
to write or update the elements, you need the indices. A common way to do that
is to combine the functions range and len:


This loop traverses the list and updates each element. len returns the number of
elements in the list. range returns a list of indices from 0 to n − 1, where n is
the length of the list. Each time through the loop, i gets the index of the next
element. The assignment statement in the body uses i to read the old value of the
element and to assign the new value.

In [ ]:
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2

print(numbers)

for x in empty:
  print('This never happens.')

print(empty)

[1088, 320]
[]

##addition operations

 The + operator concatenates lists:

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

##multiplication opration

Similarly, the * operator repeats a list a given number of times:

The first example repeats four times. The second example repeats the list three
times

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

print([0] * 4)

print([1, 2, 3] * 3)

[0, 0, 0, 0]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

#List slices

The slice operator also works on lists:
:

If you omit the first index, the slice starts at the beginning. If you omit the second,
the slice goes to the end. So if you omit both, the slice is a copy of the whole list.

Since lists are mutable, it is often useful to make a copy before performing operations that fold, spindle, or mutilate lists.
A slice operator on the left side of an assignment can update multiple elements:

In [ ]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
print(t[1:3])
print(t[:4])
print(t[3:])
print(t[:],"\n")

t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3] = ['x', 'y']
print(t)

t = ['a', 'b', 'c', 'd', 'e', 'f']
print(t[0:5:2])

['b', 'c']
['a', 'b', 'c', 'd']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

['a', 'x', 'y', 'd', 'e', 'f']
['a', 'c', 'e']

#List methods

Python provides methods that operate on lists. For example, 

extend takes a list as an argument and appends all of the elements:

This example leaves t2 unmodified.
sort arranges the elements of the list from low to high:

##Add elements

**insert** add a new element at the index of list.

**append** adds a new element to the end of a list.

**extend** append two list.

In [ ]:
t = ['a', 'b', 'c']
t.insert(0, 'x')
print(t,"\n")

#append
t.append('d')
print(t,"\n")

t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
print(t1)

['x', 'a', 'b', 'c', 'd']

['a', 'b', 'c', 'd', 'e']

##Deleting elements

There are several ways to delete elements from a list. If you know the index of the
element you want, you can use pop:

pop modifies the list and returns the element that was removed. If you don’t
provide an index, it deletes and returns the last element

In [ ]:
t = ['a', 'b', 'c']
x = t.pop(1)
print(t)

['a', 'c']

if you don’t need the removed value, you can use the del statement:

If you know the element you want to remove (but not the index), you can use
remove:

In [ ]:
t = ['a', 'b', 'c']
t.remove('b')
print(t,"\n")

p = ['a', 'b', 'c', 'd', 'e', 'f']
del p[1:3]
print(p)

['a', 'c']

['a', 'd', 'e', 'f']

## Find element

**index** give the index of an element.

**in** is element present in the list.

In [ ]:
t = ['a', 'b', 'c']
print(t.index('b'))

print('x' in t)
print('c' in t)

1
False
True

##Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

**Example**:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

With list comprehension you can do all that with only one line of code:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

newlist = [expression for item in iterable if condition == True]

The return value is a new list, leaving the old list unchanged.:

#Lists and functions

There are a number of built-in functions that can be used on lists that allow you
to quickly look through a list without writing your own loops:

In [ ]:
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(sum(nums)/len(nums))

6
74
3
154
25.666666666666668

The sum() function only works when the list elements are numbers. The other
functions (max(), len(), etc.) work with lists of strings and other types that can
be comparable.
We could rewrite an earlier program that computed the average of a list of numbers
entered by the user using a list.
First, the program to compute an average without a list:

In [ ]:
total = 0
count = 0
while (True):
    inp = input('Enter a number: ')
    if inp == 'done': break
    value = float(inp)
    total = total + value
    count = count + 1
average = total / count
print('Average:', average)

Enter a number: 88
Enter a number: 33
Enter a number: 33
Enter a number: 22
Enter a number: 11

KeyboardInterrupt: ignored

#Lists and strings

A string is a sequence of characters and a list is a sequence of values, but a list
of characters is not the same as a string. To convert from a string to a list of
characters, you can use list:

In [ ]:
s = 'spam'
t = list(s)
print(t)

['s', 'p', 'a', 'm']

Because list is the name of a built-in function, you should avoid using it as
a variable name. I also avoid the letter “l” because it looks too much like the
number “1”. So that’s why I use “t”.
The list function breaks a string into individual letters. If you want to break a
string into words, you can use the split method

In [ ]:
s = 'pining for the fjords'
t = s.split()
print(t,'\n')
print(t[2])

['pining', 'for', 'the', 'fjords']

the

Once you have used split to break the string into a list of words, you can use the
index operator (square bracket) to look at a particular word in the list.
You can call split with an optional argument called a delimiter that specifies
which characters to use as word boundaries. The following example uses a hyphen
as a delimiter:

In [ ]:
s = 'spam-spam-spam'
delimiter = '-'
s.split(delimiter)

['spam', 'spam', 'spam']

join is the inverse of split. It takes a list of strings and concatenates the elements.
join is a string method, so you have to invoke it on the delimiter and pass the list
as a parameter:

In [ ]:
t = ['pining', 'for', 'the', 'fjords']
delimiter = ' '
delimiter.join(t)

'pining for the fjords'

#Parsing lines

Usually when we are reading a file we want to do something to the lines other than
just printing the whole line. Often we want to find the “interesting lines” and then
parse the line to find some interesting part of the line. What if we wanted to print
out the day of the week from those lines that start with “From”?

From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008

The split method is very effective when faced with this kind of problem. We can
write a small program that looks for lines where the line starts with “From”, split
those lines, and then print out the third word in the line:

In [ ]:
fhand = open('/content/sample_data/mbox-short.txt')
for line in fhand:
    line = line.rstrip()
    if not line.startswith('From '): continue
    words = line.split()
    print(words[2])

#Objects and values

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

In this case we would say that the two lists are equivalent, because they have the
same elements, but not identical, because they are not the same object. If two
objects are identical, they are also equivalent, but if they are equivalent, they are
not necessarily identical.


Until now, we have been using “object” and “value” interchangeably, but it is more
precise to say that an object has a value. If you execute a = [1,2,3], a refers to
a list object whose value is a particular sequence of elements. If another list has
the same elements, we would say it has the same value.

#Aliasing

If a refers to an object and you assign b = a, then both variables refer to the same
object:


The association of a variable with an object is called a reference. In this example,
there are two references to the same object.
An object with more than one reference has more than one name, so we say that
the object is aliased.
If the aliased object is mutable, changes made with one alias affect the other

In [ ]:
a = [1, 2, 3]
b = a
b is a

True

#List arguments

The parameter t and the variable letters are aliases for the same object.
It is important to distinguish between operations that modify lists and operations
that create new lists. For example, the append method modifies a list, but the +
operator creates a new list:

In [ ]:
t1 = [1, 2]
t2 = t1.append(3)
print(t1)
print(t2)

t3 = t1 + [3]
print(t3)
t2 is t3

[1, 2, 3]
None
[1, 2, 3, 3]

False