<a href="https://colab.research.google.com/github/PlacementGuide1/PythonCourse/blob/main/Lecture9_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

>[Tuples are immutable](#updateTitle=true&folderId=173nvvHT3ObZZA5lIWN0KcIuPurKqeDcJ&scrollTo=YSPeFVHproAX)

>[Comparing tuples](#updateTitle=true&folderId=173nvvHT3ObZZA5lIWN0KcIuPurKqeDcJ&scrollTo=K-alnfquzARA)

>[Tuple assignment](#updateTitle=true&folderId=173nvvHT3ObZZA5lIWN0KcIuPurKqeDcJ&scrollTo=jYbmsgt0uaiH)

>[Multiple assignment with dictionaries](#updateTitle=true&folderId=173nvvHT3ObZZA5lIWN0KcIuPurKqeDcJ&scrollTo=VdmFK52bE9Ut)

>[The most common words](#updateTitle=true&folderId=173nvvHT3ObZZA5lIWN0KcIuPurKqeDcJ&scrollTo=UFMkfzbwJwWR)

>>[Sort the dictionary by value](#updateTitle=true&folderId=173nvvHT3ObZZA5lIWN0KcIuPurKqeDcJ&scrollTo=I-cliwXS7owH)

>[Using tuples as keys in dictionaries](#updateTitle=true&folderId=173nvvHT3ObZZA5lIWN0KcIuPurKqeDcJ&scrollTo=gNqcCveKKmta)

>[Sequences: strings, lists, and tuples - Oh My!](#updateTitle=true&folderId=173nvvHT3ObZZA5lIWN0KcIuPurKqeDcJ&scrollTo=OcEoETyxNDGX)

>[List comprehension](#updateTitle=true&folderId=173nvvHT3ObZZA5lIWN0KcIuPurKqeDcJ&scrollTo=8hPPrwCRcvhi)

#Tuples are immutable

A tuple
is a sequence of values much like a list. The values stored in a tuple can
be any type, and they are indexed by integers. The important difference is that
tuples are immutable. Tuples are also comparable and hashable so we can sort lists
of them and use tuples as key values in Python dictionaries.

In [ ]:
#Syntactically, a tuple is a comma-separated list of values

t = 'a', 'b', 'c', 'd', 'e'

Although it is not necessary, it is common to enclose tuples in parentheses to help
us quickly identify tuples when we look at Python code:

In [ ]:
t = ('a', 'b', 'c', 'd', 'e')

To create a tuple with a single element, you have to include the final comma:

In [ ]:
t1 = ('a',)
type(t1)

tuple

Without the comma Python treats ('a') as an expression with a string in parentheses that evaluates to a string:

In [ ]:
t2 = ('a')
type(t2)

str

Another way to construct a tuple is the built-in function tuple. With no argument,
it creates an empty tuple:

In [ ]:
  = tuple()
 print(t)

()

If the argument is a sequence (string, list, or tuple), the result of the call to tuple
is a tuple with the elements of the sequence:

In [ ]:
t = tuple('lupins')
print(t[0])

l

 The bracket operator indexes an element:

In [ ]:
t = ('a', 'b', 'c', 'd', 'e')
print(t[0])

a

And the slice operator selects a range of elements.

In [ ]:
print(t[1:3])

('b', 'c')

But if you try to modify one of the elements of the tuple, you get an error:

In [ ]:
t[0] = 'A'

TypeError: ignored

You can’t modify the elements of a tuple, but you can replace one tuple with
another:

In [ ]:
t = ('A',) + t[1:]
print(t)

('A', 'b', 'c', 'd', 'e')

# Comparing tuples

The comparison operators work with tuples and other sequences. Python starts by
comparing the first element from each sequence. If they are equal, it goes on to the
next element, and so on, until it finds elements that differ. Subsequent elements
are not considered (even if they are really big).

In [ ]:
(0, 1, 2) < (0, 3, 4)

True

In [ ]:
(0, 1, 2000000) < (0, 3, 4)

##COMPARING TUPLES

The sort function works the same way. It sorts primarily by first element, but in
the case of a tie, it sorts by second element, and so on.
This feature lends itself to a pattern called DSU.

***Decorate*** a sequence by building a list of tuples with one or more sort keys
preceding the elements from the sequence.
***Sort*** the list of tuples using the Python built-in sort, and
***Undecorate*** by extracting the sorted elements of the sequence.

For example, suppose you have a list of words and you want to sort them from
longest to shortest:

In [ ]:
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
  t.append((len(word), word))
  t.sort(reverse=True)
res = list()
for length, word in t:
  res.append(word)
print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

The first loop builds a list of tuples, where each tuple is a word preceded by its
length.

**Sort** compares the first element, length, first, and only considers the second element to break ties. The keyword argument *reverse*=**True** tells **sort** to go in
decreasing order.

The second loop traverses the list of tuples and builds a list of words in descending
order of length. The four-character words are sorted in ***reverse*** alphabetical order,
so **“what”** appears before **“soft”** in the following list.

The output of the program is as follows:

**['yonder', 'window', 'breaks', 'light', 'what',
'soft', 'but', 'in']**

#Tuple assignment

One of the unique syntactic features of the Python language is the ability to have a
tuple on the left side and a sequence on the right side of an assignment statement.
This allows you to assign more than one variable at a time to the given sequence.

In this example we have a two-element list (which is a sequence) and assign the first
and second elements of the sequence to the variables x and y in a single statement.

In [ ]:
m = [ 'have', 'fun' ]
x, y = m
print(x)
print(y)

have
fun

Python roughly translates the tuple assignment syntax to be the
following:

In [ ]:
m = [ 'have', 'fun' ]
x = m[0]
y = m[1]
print(x)
print(y)

'have'

Stylistically when we use a tuple on the left side of the assignment statement, we
omit the parentheses, but the following is an equally valid syntax:

In [ ]:
m = [ 'have', 'fun' ]
(x, y) = m
print(x)
print(y)

have
fun

A particularly clever application of tuple assignment allows us to swap the values
of two variables in a single statement:

In [ ]:
a = 1
b = 2
print("a {0} b {1}", a, b)
a, b = b, a
print("a {0} b {1}", a, b)

a {0} b {1} 1 2
a {0} b {1} 2 1


Both sides of this statement are tuples, but the left side is a tuple of variables;
the right side is a tuple of expressions. Each value on the right side is assigned
to its respective variable on the left side. All the expressions on the right side are
evaluated before any of the assignments.

The number of variables on the left and the number of values on the right must be
the same:

In [ ]:
a, b = 1, 2

The right side can be any kind of sequence (string, list, or tuple).

For example, to split an email address into a user name and a domain, you could
write:

In [ ]:
addr = 'monty@python.org'
uname, domain = addr.split('@')

The return value from split is a list with two elements; the first element is assigned
to uname, the second to domain.

In [ ]:
print(uname)

print(domain)

monty
python.org

#Dictionaries and Tuples

Dictionaries have a method called items that returns a list of tuples, where each tuple is a key-value pair:

In [ ]:
d = {'a':10, 'b':1, 'c':22}
t = list(d.items())
print(t)

[('a', 10), ('b', 1), ('c', 22)]

However, since the list of tuples is a list, and tuples are comparable, we can now
sort the list of tuples. Converting a dictionary to a list of tuples is a way for us to
output the contents of a dictionary sorted by key:

In [ ]:
d = {'a':10, 'b':1, 'c':22}
t = list(d.items())
t

[('a', 10), ('b', 1), ('c', 22)]

In [ ]:
t.sort()
t

[('a', 10), ('b', 1), ('c', 22)]

#Multiple assignment with dictionaries

Combining **items**, tuple assignment, and **for**, you can see a nice code pattern for
**traversing** the keys and values of a dictionary in a single loop:

In [ ]:
d = {'a':10, 'b':1, 'c':22}
for key, val in list(d.items()): 
  print(val, key)

10 a
1 b
22 c

This loop has two iteration variables because items returns a list of tuples and key,
val is a tuple assignment that successively iterates through each of the key-value
pairs in the dictionary.


For each iteration through the loop, both key and value are advanced to the next
key-value pair in the dictionary (still in hash order).

If we combine these two techniques, we can print out the contents of a dictionary
sorted by the value stored in each key-value pair.


To do this, we first make a list of tuples where each tuple is (value, key. The
items method would give us a list of (key, value) tuples, but this time we want to sort by value, not key. Once we have constructed the list with the value-key
tuples, it is a simple matter to sort the list in reverse order and print out the new,
sorted list.

In [ ]:
d = {'a':10, 'b':1, 'c':22}
l = list()
for key, val in d.items() :
    l.append( (val, key) )
l

[(10, 'a'), (1, 'b'), (22, 'c')]

In [ ]:
l.sort(reverse=True)
l

[(22, 'c'), (10, 'a'), (1, 'b')]

#The most common words

We can augment our program to use this technique to print the ten most
common words in the text as follows:

In [ ]:
import string
   
fhand = open('/content/sample_data/romeo-full.txt')
counts = dict()
for line in fhand:
    line = line.translate(str.maketrans('', '', string.punctuation))
    line = line.lower()
    words = line.split()
    for word in words:
      if word not in counts:
        counts[word] = 1
    else:
      counts[word] += 1

## *Sort* *the* *dictionary* *by* *value*

In [ ]:
lst = list()
for key, val in list(counts.items()):
 lst.append((val, key))
lst.sort(reverse=True)
for key, val in lst[:10]:
  print(key, val)

2 into
1 would
1 where
1 using
1 turning
1 to
1 think
1 them
1 rarely
1 of


The first part of the program which reads the file and computes the dictionary
that maps each word to the count of words in the document is unchanged. But
instead of simply printing out **counts** and ending the program, we construct a **list**
of (**val**, **key**) tuples and then sort the list in reverse order.


 If there is more than
one tuple with the same value, it will look at the second element (the key), so
tuples where the value is the same will be further sorted by the alphabetical order
of the key.


At the end we write a nice for loop which does a multiple assignment iteration
and prints out the ten most common words by iterating through a slice of the list
(lst[:10]).

#Using tuples as keys in dictionaries

Because tuples are *hashable* and lists are not, if we want to create a *composite* key
to use in a dictionary we must use a tuple as the key.


Assuming that
we have defined the variables last, first, and number, we could write a dictionary
assignment statement as follows:

In [ ]:
directory={}
first="asdf"
last="lkjhg"
number=1234567890
directory[last,first] = number
print(directory)

{('lkjhg', 'asdf'): 1234567890}

The expression in brackets is a tuple. We could use tuple assignment in a for loop
to traverse this dictionary.

In [ ]:
directory[last,first] = number
for last, first in directory:
 print(first, last, directory[last,first])

asdf lkjhg 1234567890

This loop traverses the keys in directory, which are tuples. It assigns the elements
of each tuple to last and first, then prints the name and corresponding telephone
number.

#Sequences: strings, lists, and tuples - Oh My!

*LIST* *COMPREHENSION*

1. In some contexts, like a return statement, it is syntactically simpler to create
a tuple than a list. In other contexts, you might prefer a list.
2. If you want to use a sequence as a dictionary key, you have to use an immutable type like a tuple or string.
3. If you are passing a sequence as an argument to a function, using tuples
reduces the potential for unexpected behavior due to aliasing.


Tuples are immutable, they don’t provide methods like sort and reverse,
which modify existing lists. However Python provides the built-in functions sorted
and reversed, which take any sequence as a parameter and return a new sequence
with the same elements in a different order.

#List comprehension

You can achieve this by writing a for loop and appending one item at a time. 
For
example, if you wanted to convert a list of strings – each string storing digits – into
numbers that you can sum up, you would write:

In [ ]:
list_of_ints_in_strings = ['42', '65', '12']
list_of_ints = []
for x in list_of_ints_in_strings:
    list_of_ints.append(int(x))
print(sum(list_of_ints))

119

With list comprehension, the above code can be written in a more compact manner:

In [ ]:
list_of_ints_in_strings = ['42', '65', '12']
list_of_ints = [ int(x) for x in list_of_ints_in_strings ]
print(sum(list_of_ints))

119