<a href="https://colab.research.google.com/github/PlacementGuide1/PythonCourse/blob/main/Lecture5_String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

>[What is string?](#scrollTo=5Nxstp7JLlMT)

>[Multiline Strings](#scrollTo=IhNGvi6bK9Bj)

>[Getting the length of a string using len](#scrollTo=w9gGOGqUMdbj)

>[String Iteration](#scrollTo=b1j_hicZNjn8)

>[String slices](#scrollTo=jas_-7SEOZiY)

>[Modify Strings](#scrollTo=RB9gR1FhMLfd)

>>[Upper Case](#scrollTo=hcN2ZnY5MOIJ)

>>[Lower Case](#scrollTo=Ot-TcBf4MZn8)

>>[Replace String](#scrollTo=ghcV8hdsM6XN)

>>[Split String](#scrollTo=uHvp2lyiNHi0)

>[String Concatenation](#scrollTo=6qzbIVDxNTjV)

>[Strings are immutable](#scrollTo=BjdWbGBUPKMI)

>[Looping and counting](#scrollTo=mRd68UtEPt60)

>[The in operator](#scrollTo=8qz_YlBlQSqo)

>[String comparison](#scrollTo=ks5WXA4SQpnY)

>[String methods](#scrollTo=1EJFUBBqSChX)

>[Parsing strings](#scrollTo=JKOKwismVRJT)

>[Format operator](#scrollTo=LWBOPoHTVtel)

>[Escape Character](#scrollTo=n-1L8j1TPUxm)

>>[Escape Characters](#scrollTo=3ovavgyAPq7l)

#What is string?

A string is a sequence of characters. You can access the characters one at a time with the bracket operator:

So “b” is the 0th letter (“zero-th”) of “banana”, “a” is the 1th letter (“one-th”), and “n” is the 2th (“two-th”) letter.
You can use any expression, including variables and operators, as an index, but the value of the index has to be an integer. Otherwise you get:

In [ ]:
fruit = 'banana'
letter=fruit[0]
letter1 = fruit[1]
print(letter)
print(letter1)

b
a

##Multiline Strings

You can assign a multiline string to a variable by using three quotes:

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''

print(a)

7

#Getting the length of a string using len

len is a built-in function that returns the number of characters in a string:

In [ ]:
fruit = 'banana'
len(fruit)

6


To get the last letter of a string, you might be tempted to try something like this:

In [ ]:
length = len(fruit)
last = fruit[length]

IndexError: ignored

The reason for the IndexError is that there is no letter in “banana” with the index.

Since we started counting at zero, the six letters are numbered 0 to 5. To get the last character, you have to subtract 1 from length:

In [ ]:
last = fruit[length-1]
print(last)

a

**Q. Write you own len function for evaluating the string length?**

#String Iteration 

A lot of computations involve processing a string one character at a time. Often they start at the beginning, select each character in turn, do something to it, and continue until the end. This pattern of processing is called a traversal. One way to write a traversal is with a while loop:

In [ ]:
fruit = 'banana'
index = 0
while index < len(fruit):
  letter = fruit[index]
  print(letter)
  index =+ 1

b
a
n
a
n
a

In [ ]:
for char in fruit:
  print(char)

#Looping and counting

The following program counts the number of times the letter “a” appears in a
string:

This program demonstrates another pattern of computation called a counter. The
variable count is initialized to 0 and then incremented each time an “a” is found.
When the loop exits, count contains the result: the total number of a’s.

In [ ]:
word = 'banana'
count = 0
for letter in word:
    if letter == 'a':
      count = count + 1 #count += 1
print(count)

3

#String slices

A segment of a string is called a slice. Selecting a slice is similar to selecting a
character:

The operator [n:m] returns the part of the string from the “n-th” character to the “m-th” character, including the first but excluding the last. **[n:m)**
If you omit the first index (before the colon), the slice starts at the beginning of the string. If you omit the second index, the slice goes to the end of the string:

syntax : string[strat:end:step]

In [ ]:
s = 'Monty Python'
print(s[0:5])
print(s[6:12])

Monty
Python

In [ ]:
fruit = 'banana'

fruit[:3]

fruit[3:]

'ana'

you can also define the step of slice as a 3rd paramenter :

**syntax:** `string[start:end:step]`

In [ ]:
fruit = 'banana'

fruit[0:5:2]

'bnn'

#Modify Strings

##Upper Case 

The upper() method returns the string in upper case:

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

##Lower Case

The lower() method returns the string in lower case:

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

##Replace String

The replace() method replaces a string with another string:

In [ ]:
a = "Hello, World!"
print(a.replace("l", "J"))

HeJJo, WorJd!

##Split String
The split() method returns a list where the text between the specified separator becomes the list items.

**Example**
The split() method splits the string into substrings if it finds instances of the separator:

In [ ]:
a = "Hello World divanshu himani ila madhu harshul"
print(a.split(" ")) # returns ['Hello', ' World!']

['Hello', 'World', 'divanshu', 'himani', 'ila', 'madhu', 'harshul']

#String Concatenation

To concatenate, or combine, two strings you can use the + operator.

**Example**
Merge variable a with variable b into variable c:

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

To add a space between them, add a " ":

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

#Strings are immutable

It is tempting to use the operator on the left side of an assignment, with the
intention of changing a character in a string. For example:

The “object” in this case is the string and the “item” is the character you tried
to assign. For now, an object is the same thing as a value, but we will refine that
definition later. An item is one of the values in a sequence.

The reason for the error is that strings are immutable, which means you can’t
change an existing string. The best you can do is create a new string that is a
variation on the original:

In [ ]:
greeting = 'Hello, world!'
greeting[0] = 'J'

[1, 2, 10, 4, 5]

In [ ]:
greeting = 'Hello, world!'
new_greeting = 'J' + greeting[1:]
print(new_greeting)

Jello, world!

#The in operator

The word in is a boolean operator that takes two strings and returns True if the
first appears as a substring in the second:

In [ ]:
'a' in 'banana'

True

In [ ]:
'seed' in 'banana'

True

#String comparison

The comparison operators work on strings. To see if two strings are equal

In [ ]:
word = 'banana'
if word == 'banana':
      print('All right, bananas.')

All right, bananas.

Other comparison operations are useful for putting words in alphabetical order:

Python does not handle uppercase and lowercase letters the same way that people
do. All the uppercase letters come before all the lowercase letters, so:
Your word, Pineapple, comes before banana.

A common way to address this problem is to convert strings to a standard format,
such as all lowercase, before performing the comparison. Keep that in mind in case

you have to defend yourself against a man armed with a Pineapple.

In [ ]:
word = 'Y'
if word < 'banana':
    print('Your word,' + word + ', comes before banana.')
elif word > 'banana':
    print('Your word,' + word + ', comes after banana.')
else:
    print('All right, bananas.')

Your word,Y, comes before banana.

#String methods

Strings are an example of Python objects. An object contains both data (the actual
string itself) and methods, which are effectively functions that are built into the
object and are available to any instance of the object.

Python has a function called dir which lists the methods available for an object.
The type function shows the type of an object and the dir function shows the
available methods.

In [ ]:
stuff = 'Hello world'
type(stuff)

str

While the dir function lists the methods, and you can use help to get some simple
documentation on a method, a better source of documentation for string methods
would be https://docs.python.org/library/stdtypes.html#string-methods.

Calling a method is similar to calling a function (it takes arguments and returns
a value) but the syntax is different. We call a method by appending the method
name to the variable name using the period as a delimiter.

In [ ]:
dir(stuff)

For example, the method upper takes a string and returns a new string with all
uppercase letters:

Instead of the function syntax upper(word), it uses the method syntax
word.upper().

In [ ]:
help(str.capitalize)

Help on method_descriptor:

capitalize(self, /)
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [ ]:
word = 'banana'
new_word = word.upper()
print(new_word)

BANANA

A method call is called an invocation; in this case, we would say that we are
invoking upper on the word.

**For example**, there is a string method named find that searches for the position
of one string within another:

In [ ]:
word = 'banana'
index = word.find('a')
print(index)
word.find('na')

1

2

One common task is to remove white space (spaces, tabs, or newlines) from the
beginning and end of a string using the strip method:

In [ ]:
line = ' Here we go '
line.strip()

'Here we go'

Some methods such as startswith return boolean values

You will note that startswith requires case to match, so sometimes we take a line

In [ ]:
line = 'Have a nice day'
print(line.startswith('Have'))
line.startswith('h')

True

False

#Parsing strings

Often, we want to look into a string and find a substring. 

For example if we were presented a series of lines formatted as follows:

From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008

and we wanted to pull out only the second half of the address (i.e., uct.ac.za) from each line, we can do this by using the find method and string slicing.

First, we will find the position of the at-sign in the string. Then we will find the position of the first space after the at-sign. And then we will use string slicing to extract the portion of the string which we are looking for.

In [ ]:
data = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'
atpos = data.find('@')
print(atpos)

sppos = data.find(' ',atpos)
print(sppos)

host = data[atpos+1:sppos]
print(host)

21
31
uct.ac.za

#Format operator

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

**Example**
Use the format() method to insert numbers into strings:

In [ ]:
age = 36
name = 'Jhon'
txt = "My name is {}, and I am {}"
print(txt.format(name, age))

My name is Jhon, and I am 36

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

The format operator, % allows us to construct strings, replacing parts of the strings
with the data stored in variables. When applied to integers, % is the modulus
operator. But when the first operand is a string, % is the format operator.

The first operand is the format string, which contains one or more format sequences
that specify how the second operand is formatted. The result is a string

**For example**, the format sequence %d means that the second operand should be formatted as an integer (“d” stands for “decimal”):

In [ ]:
camels = 42
'%d' % camels

TypeError: ignored

The result is the string ‘42’, which is not to be confused with the integer value 42.

A format sequence can appear anywhere in the string, so you can embed a value
in a sentence:

If there is more than one format sequence in the string, the second argument has
to be a tuple1
. Each format sequence is matched with an element of the tuple, in
order.

The following example uses %d to format an integer, %g to format a floating-point
number (don’t ask why), and %s to format a string:

In [ ]:
camels = 42
'I have spotted %d camels.' % camels

'I have spotted 42 camels.'

In [ ]:
'In %d years I have spotted %g %s.' % (3, 0.1, 'camels')

'In 3 years I have spotted 0.1 camels.'

The number of elements in the tuple must match the number of format sequences
in the string. The types of the elements also must match the format sequences:

In [ ]:
'%d %d %d' % (1, 2)

TypeError: ignored

In [ ]:
'%d' % 'dollars'

TypeError: ignored

#Escape Character

The escape character allows you to use double quotes when you normally would not be allowed:

In [ ]:
txt = "We are the so-called \\\"Vikings\\\" from the north."
print(txt)

We are the so-called \"Vikings\" from the north.


##Escape Characters

```
Other escape characters used in Python:

Code	Result
\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value
```